/* GENERAL */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f9fa !important;
}

/* TITULOS */
h1, h2, h3 {
    font-weight: 700;
    color: #000;
}

/* TARJETAS */
.card {
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    background: #fff;
}

.card-body h2 {
    color: #111;
}

/* BOTONES  */
.btn-black {
    background-color: #000 !important;
    color: #fff !important;
    border-radius: 6px !important;
    transition: 0.2s;
}

    .btn-black:hover {
        background-color: #333 !important;
    }

.btn-outline-black {
    border: 2px solid #000 !important;
    color: #000 !important;
}

    .btn-outline-black:hover {
        background-color: #000 !important;
        color: #fff !important;
    }

/* TABLAS */
table {
    border-radius: 8px;
    overflow: hidden;
}

.table thead {
    background: #000;
    color: white;
}

/* FORM LABEL */
.form-label {
    font-weight: 600;
    color: #111;
}
